.App-menu {
  animation-delay: 3s;
  padding-top: 15px;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 3px 0px 0px 3px;
  margin-left: 66%;
  display: flex;
  align-items: right;
  justify-content: right;
  transition: 0.6s;
}

.App-link:hover {
  color: rgb(123, 133, 146);
  background-color: white;
  transition: 0.6s;
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .App-link {
    margin-left: 55%;
  }
}
@media screen and (max-width: 500px) {
  .App-menu {
    font-size: calc(8px + 3vmin);
  }
  
  .App-link {
    margin-left: 30%;
  }
}